@charset "UTF-8";

.green {
  position: absolute;
  top: 0;
  left: 0;
}

.blue {
  position: absolute;
  bottom: 0;
  right: 0;
}

.red {
  position: fixed;
  right: 0;
  top: 50%;
}

.parent {
  position: relative;
  position: absolute;
  position: static;
  /* absolute : 절대 좌표
  - 부모 요소가 static 이 아닌 경우, 부모 기준 
  - 부모 및 조상 요소들이 전부 static 이면, 브라우저 기준 */
  /* static : 포지셔닝을 해제함. */

  top: 100px;
  left: 500px;
}