@charset "UTF-8";
@import url("reset.css");
body {
  background: url(../imgs/bg_grid.png);
}

p {
  background: rgba (0, 100, 200, 0.3);
  width: 600px;
  padding: 10px; /* w : 620px */
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 300px; /* margin 겹침 현상 : 상하 방향에서만 나타남 */
  /* 인접한 요소의 상하 마진은 큰 값으로 병합됨 */
}

p:nth-of-type(3) {
  margin: 500px auto;
}

.art2 {
  width: 300px;
  margin: 0 auto;

  /* margin은 박스 밖의 값, auto로 맡겼다는 것은 컴퓨터에게 알아서 결정하라고 한 것. */

  /* auto 값을 이용해서 화면의 중앙에 정렬하려면, "margin (여백 공간)" 이 반드시 있어야 한다.

  요소가 100% 미만이어야 margin 이 생긴다.

  (왜냐면 요소의 너비가 100%일 경우, 공간이 생기지 않기 때문이다!)
  100% 미만의 width 값을 요소에게 주어야, margin이 생깁니다! */

  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
