@charset "UTF-8";
@import url(../css/reset.css);

h2 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 7px;
}

.text:hover::before {
  content: "🎥";
  background-color: yellow;
  width: 72px;
  font-size: 3rem;
  display: block;
}

.text:hover::after {
  content: "요고추가";
  color: red;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
  font-weight: 400;
}
